
<div class="search-container">
    <div style="width: 67%"></div>
    <input class="search-input"  placeholder="Search">
</div>
<div>
<div class="list-element-container">
        <div style="width: 10%"></div>
    <div class = "list-element">
        <mat-expansion-panel [disabled] ="true" >
                <mat-expansion-panel-header>
                <div class="first-section-panel">Monday 10th 2:28 PM</div>
                <div class="side-line"></div>
                <div class="second-section-panel">Type your name and age</div>
                <div class="third-section-panel">estoy aqui!!!</div>
            </mat-expansion-panel-header>      
        </mat-expansion-panel>
    </div>

</div>

</div>
  