.search-input{
    border: none;
    width: 15%;
    color:	#949494;
    padding: 1vh 1vh;
    font-size: 2vh;
    text-align: center;
    margin-right: 2vh;
    margin-left: 15vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
  }
.search-container{
    display: flex;
}
.list-element-container{
    display: flex;
    height: 30%;
}
.list-element{
    margin: auto;
    width: 90%;
}
.mat-expansion-panel{
    display: flex;
    width: 131vh;
    height: 15vh;
    border-radius: 4vh;
    background-color: #FFFFFF;
    flex-direction: column;
}
.list-container-column{
    display: flex;
    flex-direction: column;
}
.first-section-panel{
    text-align: center;
    width: 15%;
}
.second-section-panel{
    width: 30%;
}
.third-section-panel{
    width: 40%;
}
.side-line{
    border-left: 1px solid #D6D6D6;
    height: 49px;
  }