
<div class="search-container">
    <div style="width: 70%"></div>
    <input class="search-input"  placeholder="Search">
</div>
<div style="display: flex;flex-direction: column">
<div class="list-element-container">
        <div class=aprove-symbol><i class="material-icons" style="color:#EE862E;font-size: 48px;height: 5%">check_circle</i></div>
    <div class = "list-element">
        <mat-expansion-panel [disabled] ="true" >
                <mat-expansion-panel-header>
                <div class="first-section-panel">Monday 10<sup>th</sup>2:28 PM</div>
                <div style="display: flex; flex-direction: row;width: 1%"><div class="side-line"></div></div>                
                <div class="second-section-panel"><img class="arrow" src="assets/img/arrow.png" height="100px"><div class="middle-container"><div >Houston,TX,33619</div>
                <div><i class="material-icons" style="color:#EE862E;font-size: 48px;height: 5%">keyboard_arrow_down</i></div><div style="height: 5%;">Atlanta, GA,30123</div></div></div>
                <div style="display: flex; flex-direction: row;width: 1%"><div class="side-line-middle"></div></div>    
                <div class="third-section-panel"><img class="truck" src="assets/img/Truck.png" height="70px"><div class="third-panel-number"> $250.00</div><div class="square"><div style="margin-top: 11px">1</div></div><div class="third-panel-menu-item"><i class="material-icons"style="font-size:55px" >menu</i></div></div>
            </mat-expansion-panel-header>      
        </mat-expansion-panel>
    </div>

</div>
<div class="list-element-container">
    <div class=aprove-symbol><i class="material-icons" style="color:#EE862E;font-size: 48px;height: 5%">check_circle</i></div>
<div class = "list-element">
    <mat-expansion-panel [disabled] ="true" >
            <mat-expansion-panel-header>
            <div class="first-section-panel">Monday 10<sup>th</sup>2:28 PM</div>
            <div style="display: flex; flex-direction: row;width: 1%"><div class="side-line"></div></div>                
            <div class="second-section-panel"><img class="arrow" src="assets/img/arrow.png" height="100px"><div class="middle-container"><div >Houston,TX,33619</div>
            <div><i class="material-icons" style="color:#EE862E;font-size: 48px;height: 5%">keyboard_arrow_down</i></div><div style="height: 5%;">Atlanta, GA,30123</div></div></div>
            <div style="display: flex; flex-direction: row;width: 1%"><div class="side-line-middle"></div></div>    
            <div class="third-section-panel"><img class="truck" src="assets/img/Truck.png" height="70px"><div class="third-panel-number"> $250.00</div><div class="square"><div style="margin-top: 11px">1</div></div><div class="third-panel-menu-item"><i class="material-icons"style="font-size:55px" >menu</i></div></div>
        </mat-expansion-panel-header>      
    </mat-expansion-panel>
</div>

</div>
<div class="list-element-container">
    <div class=aprove-symbol><i class="material-icons" style="color:#EE862E;font-size: 48px;height: 5%">check_circle</i></div>
<div class = "list-element">
    <mat-expansion-panel [disabled] ="true" >
            <mat-expansion-panel-header>
            <div class="first-section-panel">Monday 10<sup>th</sup>2:28 PM</div>
            <div style="display: flex; flex-direction: row;width: 1%"><div class="side-line"></div></div>                
            <div class="second-section-panel"><img class="arrow" src="assets/img/arrow.png" height="100px"><div class="middle-container"><div >Houston,TX,33619</div>
            <div><i class="material-icons" style="color:#EE862E;font-size: 48px;height: 5%">keyboard_arrow_down</i></div><div style="height: 5%;">Atlanta, GA,30123</div></div></div>
            <div style="display: flex; flex-direction: row;width: 1%"><div class="side-line-middle"></div></div>    
            <div class="third-section-panel"><img class="truck" src="assets/img/Truck.png" height="70px"><div class="third-panel-number"> $250.00</div><div class="square"><div style="margin-top: 11px">1</div></div><div class="third-panel-menu-item"><i class="material-icons"style="font-size:55px" >menu</i></div></div>
        </mat-expansion-panel-header>      
    </mat-expansion-panel>
</div>

</div>

</div>
  